.buttonget{
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
  }
  .buttondelete{
    background-color: red;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonupdate{
    background-color: blue;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
 
  .buttonadd{
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-top : 15px;
  }
  .editbutton{
    margin-top : 20px
  }
  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;
 }
 .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid blue;
}
.listItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid green;
  font-size: 1.4rem;
  text-align: center;
}
 
 
.formadd{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 2px solid green;
  font-size: 1.4rem;
  text-align: center;
}
