.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid blue;
 }
  
 .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80vw;
    /* border: 2px solid red; */
 }
  
 .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
 }
  
 .listItem {
    display: flex;
    flex-direction: column;
    margin: 32px;
    padding: 32px;
    border: 2px solid green;
    font-size: 1.4rem;
 }
  
 .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
  
 .button {
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
 }
  
 .btnEdit {
    background-color: #4CAF50;
    ;
 }
  
 .btnDelete {
    background-color: #f44336;
 }
  
 .btnAdd {
    background-color: burlywood;
 }
  
 .text {
    font-size: 1.4rem;
 }
 